<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    
    <connectionStrings>
        <add name="GostControlDBConnection" 
             connectionString="Data Source=(local);Initial Catalog=Shapkin_PKGH_HotelDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
    
    <appSettings>
        <add key="DatabaseName" value="Shapkin_PKGH_HotelDB"/>
    </appSettings>
</configuration>